<<<<<<< HEAD
#mapid {
  height: 40vh;
  width: 90vw;
}

.leaflet-popup-content {
  font-size: 2rem;
}

.leaflet-popup-content-wrapper {
  border: solid yellow 3px;
=======
span {
  color: red;
  font-size: 1.2rem;
}

.timer-container {
  padding: .6rem;
  background-color: black;
  border-color: yellow;
  color: yellow;
  align-self: center
>>>>>>> 3bc971b06b22a6a0879f223d3221ad955e3627bf
}
